.App {
  text-align: center;
}

.vis-timeline {
  margin: 50px auto;
}

.sa-editor {
  position: absolute;
  width: 30%;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  border-radius: 10px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  padding: 20px;
  text-align: left;
}

.sa-editor.open {
  opacity: 1;
  pointer-events: auto;
}

.sa-editor h4 {
  margin-top: 0;
}
.sa-editor-close {
  color: #4d4d4d;
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}

.sa-editor input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  color: #4d4d4d;
}

.sa-editor label {
  text-align: left;
  color: #4d4d4d;
  display: block;
  margin-bottom: 5px;
}

.sa-editor .react-datepicker__input-container, .sa-editor .react-datepicker-wrapper {
  display: block;
}
